html,body{
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    position: relative;
}

.pfix{
    width: 100%;
    position: fixed;
}

/* nav_menu */
.pfix nav{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: rgba(99, 99, 99,.95);
    -webkit-transition: 1s;
    transition: 1s;
}
.pfix ul{
    margin: 0;
    padding: 0;
}

.pfix li{
    height: calc(90vh/6);
    list-style-type: none;
    font-size: 3em;
    text-align: center;
}

.pfix a{
    display: block;
    text-decoration: none;
    color: #fff;
}
#target {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 20px;
    cursor: pointer;
    display: block;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.target_inner{
    width: 40px;
    height: 30px;
    position: relative;
}

.target_inner_1 {
    top: 0;
   
}

/* 動き */
.fadein{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
#line1{
    font-size: 30px;
}
.linea{
    background: #ffffff;
}







.navbar ul{
    display: flex;
    padding: 0 10px;
    float: right;
    
    
}
.nav-item{
    list-style: none;
    padding: 0 10px;
    
}
.home-wrap{
    background-color: lightskyblue;
    background-size: cover;
    width: 100%;
    text-align: center;
}
.landing p{
   padding-top: 50px;
}


.landing img{
    width: 50%;
}
.school{
    width: 100%;
}
.row-padding{
    display: flex;
    padding: 20px;
}
.col-lg{
    flex: 1;
}
.row-padding img{
    width: 90%;
}
.narrow{
    width: 100%;
    text-align: center;
}
.price{
    background-color: lightskyblue;

}
h5{
    font-size: 30px;
    width: 100%;
}
.Lesson-row{
    width: 100%;
    display: flex;
}
.Lesson-col{
    text-align: center;
    flex: 1;
    
}
.Lesson img{
    width: 90%;
}
.price{
    text-align: center;
}
.clients{
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
}
.jumbotron{
    width: 75%;
    background-color: whitesmoke;
    margin: 0 auto;
}
h1{
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

.clients-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.clients-col{
    width: 50%;

}
.clients-col img{
    width: 70%;
}
.footer-row{
    display: flex;
    flex-direction: row;
    padding: 0 5px;

}


.col-img{
    flex: 1;
}
footer img{
    width: 100%;
}
.col-footer{
    flex: 2;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
span {
    background: lightskyblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
}

form p{
    font-size: 12px;
    margin: 0;
}
input,textarea {
    margin: 0 20px;
}
.btnTop{
    font-size: 50px;
    padding: 0 20px;
    text-align: right;
    display: block;
} 
 /* .btnTop{ 
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 48px;
    padding: 0 8px 48px 0;
    color: #000;
    transform: translateY(100%);
    opacity: 0;
    transition: transform .5s,opacity .5s;
  } 
   .btnTop.active{
    transform: translateY(0%);
    opacity: 1;
  }  */

@media screen and (max-width:650px){
    .navbar{
        display: none;
    }
    .navbar li{
        display: inline;
        font-size: 8px;
    }
    .school{
        width: 100%;
    }
   
    .row-padding{
        display: flex;
        flex-direction: column;
    }
 
    .narrow{
        width: 100%;
        text-align: center;
    }
    
    .col-lg{
        width: 100%;
    }
    h5{
        font-size: 20px;
    }
    .Lesson-row{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .Lesson-col{
        width: 100%;
    }
    .Lesson img{
        width: 80%;
    }
    .jumbotron{
        width: 85%;
     
    }
    .clients-row{
        flex-direction: column;
    }
    .clients-col{
        width: 100%;
    }
    
    .footer-row{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
   
    footer img{
        width: 50%;
    }
    .col-img{
        text-align: center;
    }

    
    


}
